* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
  z-index: 2;
}

html {
  scroll-behavior: smooth;
}

body {
  background: url('/img/fondo.jpg') center/cover fixed no-repeat;
  color: white;
  height: 100vh;

  position: relative;
}

body::before {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1;
  pointer-events: none;
  height: 200vh;
}

header {
  background-color: #4b2d2e;
  color: white;
  padding: 15px 5% 15px 3%;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.rocknroll-one-regular {
  font-family: "RocknRoll One", sans-serif;
}

.poppins-semibold-italic {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.mukta-malar-extralight {
  font-family: "Mukta Malar", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#section1, #section2, #section3 {
  min-height: 100vh; /* Asegura que cada sección ocupe al menos el 100% de la altura de la ventana */
}

.der {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 28%;
}

nav a {
  color: white;
  margin: 0 15px;
  text-decoration: none;
  position: relative;
  transition: color 0.4s ease-in-out;
}

nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -3px;
  width: 100%;
  height: 2px;
  background-color: #f42c1d;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease-in-out;
}

nav a:hover {
  color: #f42c1d;
}

nav a:hover::after {
  transform: scaleX(1);
}

.cursor-effect {
  position: fixed;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0) 70%);
  pointer-events: none;
  transform: translate(-50%, -50%);
  opacity: 1;
  animation: fadeOut 0.6s forwards;
}

@keyframes fadeOut {
  100% {
    opacity: 0;
    transform: scale(2);
  }
}

.container1 {
  display: flex;
  /* justify-content: space-around; */
  margin-left: 5%;
  align-items: center;
  width: 95.02%;
  flex-direction: row;
  margin-top: 7%;
}

.nombre {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  color: #000000;
}

.text {
  font-family: "RocknRoll One", sans-serif;
  font-size: 30px;
  color: #000000;
  display: flex;
  justify-content: end;
}

.letra {
  font-size: 100px;
  transition: transform 0.3s ease; /* Agrega una transición suave */
}

.top{
  font-size: 20px;
}

.letra:hover {
  transform: scale(1.2); /* Aumenta el tamaño al 120% */
  color: white; /* Cambia el color al hacer hover, si deseas */
}

.descripcion{
  display: flex;
}

/* luna */
.luna {
  width: 30%;
  height: 30%;
  border-radius: 50%;
  animation: rotation 50s infinite linear;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


/* cenizas */

@keyframes fall {
  0% {
    transform: translateY(-100px);
    opacity: 1;
  }
  100% {
    transform: translateY(100vh);
    opacity: 0;
  }
}

.cenizas {
  position: absolute;
  top: 100px; /* Empieza debajo del header */
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none; /* No afecta a la interacción */
  z-index: 0;
  overflow: hidden;
}

.ceniza {
  position: absolute;
  background: rgba(255, 255, 255, 1); /* Color gris de las cenizas */
  width: 2px;
  height: 10px;
  bottom: 100%;
  animation: fall 2s linear infinite;
}

.ceniza:nth-child(odd) {
  width: 3px;
  height: 12px;
}

.ceniza:nth-child(even) {
  background: rgba(255, 255, 255, 0.1);
}

.ceniza:nth-child(1) {
  left: 10%;
  animation-delay: 0s;
}
.ceniza:nth-child(2) {
  left: 20%;
  animation-delay: 1s;
}
.ceniza:nth-child(3) {
  left: 30%;
  animation-delay: 0.5s;
}
.ceniza:nth-child(4) {
  left: 40%;
  animation-delay: 1.5s;
}
.ceniza:nth-child(5) {
  left: 50%;
  animation-delay: 2s;
}
.ceniza:nth-child(6) {
  left: 60%;
  animation-delay: 1s;
}
.ceniza:nth-child(7) {
  left: 70%;
  animation-delay: 1.25s;
}
.ceniza:nth-child(8) {
  left: 80%;
  animation-delay: 2.9s;
}
.ceniza:nth-child(9) {
  left: 90%;
  animation-delay: 2.2s;
}
.ceniza:nth-child(10) {
  left: 15%;
  animation-delay: 3s;
}
.ceniza:nth-child(11) {
  left: 55%;
  animation-delay: 1.8s;
}
.ceniza:nth-child(12) {
  left: 65%;
  animation-delay: 2.2s;
}


/* laslistas */

.enfoques{
  height: 62px;
  display: flex;
  font-size: 80px;
  line-height: 62px;
  overflow: hidden;
}

ul{
  list-style: none;
  animation: movimiento 10s infinite;
}

ul li{
  background-image: linear-gradient(
    90deg, #ffffff, rgb(0, 0, 0) 
  );

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0 5px;
  letter-spacing: 1px;
}

@keyframes movimiento {
  0% { margin-top: 0;}
  20% { margin-top: 0;}

  25% { margin-top: -60px;}
  50% { margin-top: -60px;}

  55% { margin-top: -125px;}
  80% { margin-top: -125px;}

  85% { margin-top: -60px;}
  95% { margin-top: -60px;}

  100% { margin-top: 0px;}
}


/* scroll */

.container_mouse{
  margin-top: 5%;
}
.mouse-btn {
  margin: 10px auto;
  width: 40px;
  height: 80px;
  border: 3px solid rgba(122, 122, 124, 0.2);
  border-radius: 20px;
  display: flex;
  opacity: 0; /* Inicialmente invisible */
  animation: fadeIn 1s forwards; /* Animación de aparición */
  animation-delay: 4s;
}

.mouse-scroll {
  display: block;
  width: 20px;
  height: 20px;
  background: linear-gradient(170deg, rgba(122, 122, 124, 0.2), rgb(123, 124, 124, 0.5));
  border-radius: 50%;
  margin: auto;
  animation: scrolling13 2s linear infinite;
  opacity: 0; /* Inicialmente invisible */
  animation: fadeIn 1s forwards, scrolling13 2s linear infinite;
  animation-delay: 4s;
  
}

@keyframes scrolling13 {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }

  100% {
    opacity: 1;
    transform: translateY(20px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}



/* inicio container 2 */

.resto{
  margin-top: 105px;
  width: 100%; /* Ancho del cuadrado */
  height: 300%; /* Altura del cuadrado */
  background: rgb(0,0,0);
  background: linear-gradient(170deg, rgba(0,0,0,1) 0%, rgba(62,62,62,1) 50%, rgba(64,64,64,1) 51%, rgba(153,153,153,1) 100%);
}

.container-containet-tittle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3px;
}

.container-tittle {
  padding: 15px 60px;
}

.title-text {
  font-size: 5em;
  font-weight: 500;
  color: rgb(117, 28, 28);
  letter-spacing: 3px;
  cursor: pointer;
  transition: 0.5s;
  text-shadow: 0 0 5px rgba(117, 28, 28, 0.2), /* Primer desvanecido ligero */
               0 0 10px rgba(117, 28, 28, 0.2), /* Más fuerte y más lejos */
               0 0 15px rgba(117, 28, 28, 0.2); /* Más difuso */
}

.title-text:hover {
  color: #ffffff;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.8),
               0 0 20px rgba(255, 255, 255, 0.6),
               0 0 30px rgba(255, 255, 255, 0.4);
}
 
.contenido{
  display: flex;
  justify-content: space-around;
  align-items: center;
}



.card {
  margin-top: 60px;
  position: relative;
  width: 530px;
  height: 654px;
  background: rgb(95, 41, 41);
  background: linear-gradient(137deg, rgb(170, 145, 145) 0%, rgb(85, 65, 65) 100%);
  transition: 0.3s ease;
  border-radius: 30px;
  filter: drop-shadow(0px 0px 30px rgba(255, 255, 255, 0.5));
  z-index: 1;
}

.card::after {
  content: '';
  background-color: #181818;
  position: absolute;
  z-index: 1;
  transition: 0.3s ease;
  height: 98%;
  width: 98%;
  top: 1%;
  left: 1%;
  border-radius: 28px;
}

.card:hover {
  filter: drop-shadow(0px 0px 30px rgb(0, 0, 0));
  z-index: 1;
}

.acercade{
  padding: 20px;
  font-size: 18px;
}

.fondo{
  display: flex;
}

.star1 {
  position: absolute;
  animation: rotateStars 120s linear infinite;
  z-index: -1;
  width:80%;
  top: -480px;
}
#reves {
  position: absolute;
  animation: rotateStarsReverse 200s linear infinite;
  z-index: -1;
  width: 80%;
  top: -480px;
  
}
@keyframes rotateStars {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotateStarsReverse {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
 }
}

/* inicio container 3 */
.container3{
  width: 100%;
  height: 30%;
}

.titulo{
  display: flex;
  justify-content: center;
  margin-top: 3%;
}

/* From Uiverse.io by samuelfcosta18 */ 
section.card2 {
  position: relative;
  width: 550px;
  height: 650px;
  background-color: #520202b6;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  perspective: 1000px;
  transition: all 0.8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
.card2 svg {
  fill: #000;
  transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border-radius: 3px;
}
.card2:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 16px #000000;
  background-color: #520202b6;
  color: #520202b6;
}

.card2__content {
  color: #000000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: #520202c7;
  transform: rotateX(-90deg);
  transform-origin: bottom;
  transition: all 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.card2:hover .card2__content {
  transform: rotateX(0deg);
}

.card2__title {
  margin: 0;
  padding-left: 5px;
  font-size: 24px;
  color: #000000;
  font-weight: 700;
}

.card2:hover svg {
  scale: 0;
}

.card2__description {
  margin: 10px 0 0;
  font-size: 14px;
  color: #000000;
  line-height: 1.4;
}

.propositos{
  font-size: 20px;
  color: #ffffff;
}

.cardss{
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
}

.mision{
  width: 50%;
}

.letra2 {
  color: rgb(255, 255, 255);
  text-shadow: 0 0 10px rgba(255, 0, 0, 0.8);
  font-size: 50px;
  transition: transform 0.5s ease; /* Agrega una transición suave */
}
.letra2:hover {
  transform: scale(1.8); /* Aumenta el tamaño al 120% */
  color: rgb(83, 13, 13); /* Cambia el color al hacer hover, si deseas */
}

.yo{
  border-radius: 100px;
}